
.container {

    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



#logo img{
    height: 100px;
    width: auto;
}



table#apartment-list th, td {
   /* font-family: 'Adine Kirnberg';*/
    color: #337ab7;

}
table#apartment-list {
    font-family: 'America XIX' !important;
}

